@import "tailwindcss";

@source "../kotlin/**.kt";

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";
/*@plugin "@tailwindcss/forms";*/

@layer base {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        @apply w-full px-3 py-2 text-base placeholder-zinc-500;
        @apply rounded-md border border-zinc-300 sm:text-sm;
        @apply focus:outline-none focus:ring focus:ring-blue-500;
        @apply dark:bg-zinc-800 dark:border-zinc-700;
    }

    form {
        button[type="submit"],
        input[type="submit"],
        button {
            @apply px-4 py-2 bg-zinc-100 border dark:text-white text-sm font-medium rounded-md;
            @apply rounded-md border border-zinc-300 sm:text-sm dark:border-zinc-700;
            @apply focus:outline-none hover:bg-zinc-200 focus:ring-2 focus:ring-blue-500;
            @apply dark:bg-zinc-800 dark:hover:bg-zinc-600;
        }

        @apply grid grid-cols-1 gap-4;
    }

    .icon {
        @apply inline-block shrink-0 align-text-top w-4 h-4;
    }
}

@layer utilities {
    .primary {
        @apply border-blue-600 bg-blue-600 hover:bg-blue-700 dark:hover:bg-blue-500 text-white;
    }

    .error {
        @apply border-red-600 bg-red-600 hover:bg-red-700 dark:hover:bg-red-500 text-white;
    }

    .outlined {
        @apply bg-transparent border border-zinc-300 dark:border-zinc-700 focus:ring-zinc-500;
    }

    .demphasized {
        @apply text-zinc-600 dark:text-zinc-400;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-row-gap: 0;
        > * {
            grid-column: 2;
        }
    }
}