.errorlist {
    color: #e74c3c;
    list-style: none;
}

.code-text {
    color: #777777;
    font-weight: bold;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-size: 16px;
    cursor: pointer;
}

.fieldWrapper {
    margin-bottom: 10px;
}

.home i {
    font-size: 40px;
}

html {
    padding-top: 30px;
}

h1 {
    font-weight: 300;
}

/* Larger than mobile */
@media screen and (min-width: 550px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home i {
        margin-top: 5px;
        font-size: 50px;
    }
}

#room-code input {
    text-transform: uppercase;
}

@media screen and (max-width: 550px) {
    input {
        width: 100%;
    }

    .button {
        width: 100%;
    }
}