.errorlist {
    color: #e74c3c;
    list-style: none;
}

.code-text {
    color: #777777;
    font-weight: bold;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-size: 16px;
    cursor: pointer;
}

.home i {
    font-size: 30px;
}

html {
    padding-top: 10vw;
}

/* Larger than mobile */
@media screen and (min-width: 550px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding-top: 0;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home i {
        margin-top: 5px;
        font-size: 50px;
    }
}
