{% extends 'clicky/base.html' %}
{% block title %}Clicky - Create{% endblock %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'create.min.css' %}">
{% endblock %}

{% block content %}
    <h1><a class="home" href={% url 'clicky:index' %}><i class="fas fa-home"></i></a> Create new room</h1>
    <p>Pick a title and a number of options. A temporary voting room will be created with a code to join on screen.</p>
    <form action="." method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.room_text.label_tag }}
            {{ form.room_text }}
        </div>
        <div class="fieldWrapper">
            {{ form.num_choices.label_tag }}
            {{ form.num_choices }}
        </div>
        <div class="fieldWrapper checkbox-group">
            {{ form.can_see_results }}
            {{ form.can_see_results.label_tag }}
        </div>

        <input class="button-primary" type="submit" value="Create">
        {{ form.captcha }}
    </form>
    {% if own_rooms %}
        <h4>Your existing rooms:</h4>
        <ul>
            {% for room in own_rooms %}
                <li><a href="/{{ room.id }}/{{ room.room_text }}/results">{{ room.room_text }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}