{% extends 'clicky/base.html' %}

{% block content %}
    <h1>Join a room</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.room_name.label_tag }}
            {{ form.room_name }}
        </div>
        <div id="room-code" class="fieldWrapper">
            {{ form.room_code.label_tag }}
            {{ form.room_code }}
        </div>
        {% if form.room_code.errors %}
            <div class="animated fadeInUp">
                {{ form.room_code.errors }}
            </div>
        {% endif %}
        <input class="button-primary" type="submit" value="Join">

    </form>

    <a class="button" href="{% url 'clicky:create' %}">Create new room</a>
{% endblock %}