name: build java
on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
      - docs
      - .github/workflows/docs.yml
  workflow_dispatch:

env:
  REGISTRY: ghcr.io

jobs:
  push:
    name: "Docker image push"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        shell: bash
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew publishImage
        env:
          DOCKER_PROJECT: ${{ env.REGISTRY }}/0ffz/clicky
          DOCKER_USERNAME: ${{ github.actor }}
          DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}